$bootstrap-icons-font-dir: "npm:bootstrap-icons/font/fonts/";

@import "npm:bootstrap/scss/bootstrap";
@import "npm:bootstrap-icons/font/bootstrap-icons.css";



#calculator-wrapper {
    display: none;
}
.prefs-list {
    padding-bottom: 4rem;
    position: relative;
}
.prefs-list::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
    font-size: 2rem;
    content: "+";
}

.pref-item {
    @extend .badge, .text-primary-emphasis, .bg-primary-subtle, .border, .border-primary-subtle, .rounded-pill;
    // @extend .d-flex, .align-items-center;
    @extend .p-1, .pe-2, .my-1;

    font-size: 1rem;

    #prefsContainer & {
        display: block;
    }

    &.active {
        @extend .text-bg-primary;
        pointer-events: none;

        // TODO: Do this programmatically via JS
        // Ensure there is no top margin to prevent dropping items
        // before this .active item.
        margin: 0 !important;
    }

    .person-avatar {
        font-size: 1.5rem;
    }

    .pref-dismiss {
        cursor: pointer;
    }    
}

#personsContainer .pref-dismiss,
#prefsContainer .active .pref-dismiss {
    display: none; 
}

.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}
