{#
<pre>
context: {{ context }}
</pre>
#}

<div class="flex-wrap d-flex justify-content-center">
{% for group in context.groups.named_groups %}
    <div class="alert alert-success text-start m-4">
        <ol class="pe-3 fw-bold">
        {% for student in group %}
            <li>{{ student}}</li>
        {% endfor %}
        </ol>
    </div>
{% endfor %}
</div>
<p class="text-muted text-center" title="Higher is better, a perfect grouping results in a ten.">
    Score: {{ context.groups.score }}
</p>
